<div class="hero">
    <form id="Checkin" action="/Home/Index" method="post">
        <div class="search-box">
          
            
            <h2 style="text-align: center;">CheckIn</h2>


            <div class="margin">
                <div class="divider">
                    <label for="TicketCode">Ticket Code</label>
                    <input type="number" class="form-control" name="TicketCode" id="input-ticket-code" placeholder="Ticket Code">                    
                </div>

                <div class="divider">
                    <label for="PassengerCode">Passenger Code</label>
                    <input type="number" class="form-control" name="PassengerCode" id="input-passenger-code" placeholder="Passenger Code">
                </div>              
                <input type="submit" class="bttpesquisar" value="Confirm" id="bttconfirmcheckin">

            </div>

        </div>
    </form>
</div>
