@*
    
*@
@{
}
<div class="footer">
    <a>© 2025 Airline - All Rights Reserved</a>
</div>

<style>
    .barra-em-baixo {
        background-color: #343a40;
        color: white;
        text-align: center;
        padding: 10px 0;
        width: 100%;
    }
</style>