<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Login and Signup Form</title>
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/site.css">
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>


</head>
<body>
    <div class="centered-form-Gabriel-Login">
        <div class="form-Gabriel-Login login-Gabriel-Login">
            <div class="form-content-Gabriel-Login">
                <header>Login</header>
                <form action="#">
                    <div class="field-Gabriel-Login input-field-Gabriel-Login">
                        <input type="email" placeholder="Email" class="input-Gabriel-Login">
                    </div>
                    <div class="field-Gabriel-Login input-field-Gabriel-Login">
                        <input type="password" placeholder="Password" class="password-Gabriel-Login">
                        <i class='bx bx-hide eye-icon-Gabriel-Login'></i>
                    </div>
                    <div class="form-link-Gabriel-Login">
                        <a href="#" class="forgot-pass-Gabriel-Login">Forgot password?</a>
                    </div>
                    <div class="field-Gabriel-Login button-field-Gabriel-Login">
                        <button>Login</button>
                    </div>
                </form>
                <div class="form-link-Gabriel-Login">
                    <span>Don't have an account? <a href="@Url.Action("Resgister", "Home")" class="nav-link-Gabriel-Login">Signup</a></span>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="~/js/site.js"></script>
</body>
</html>
8