<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Login and Signup Form</title>
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/Register.css">
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <div class="centered-form-Gabriel-Login">
        <div class="form-Gabriel-Login">
            <div class="form-content-Gabriel-Login">
                <header>Signup</header>

                <form asp-action="Create" asp-controller="Accounts" method="post">

                    <div class="field-Gabriel-Login input-field-Gabriel-Login">
                        <input type="email" name="email" id="email" placeholder="Email" class="input-Gabriel-Login" required>
                    </div>
                    <div class="field-Gabriel-Login input-field-Gabriel-Login">
                        <input type="password" name="password" id="password" placeholder="Password" class="password-Gabriel-Login" required>
                        <i class='bx bx-hide eye-icon-Gabriel-Login'></i>
                    </div>
                    <div class="field-Gabriel-Login button-field-Gabriel-Login">
                        <input type="submit" value="Create" class="btn btn-primary w-100">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- JavaScript -->
    <script src="~/js/Design.js"></script>
</body>
</html>