@model BeaverEnterprisesMVC.Models.Flight

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FlightNumber" class="control-label"></label>
                <input asp-for="FlightNumber" class="form-control" />
                <span asp-validation-for="FlightNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOrigin" class="control-label"></label>
                <select asp-for="IdOrigin" class="form-control" asp-items="ViewBag.IdOrigin"></select>
                <span asp-validation-for="IdOrigin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDestination" class="control-label"></label>
                <select asp-for="IdDestination" class="form-control" asp-items="ViewBag.IdDestination"></select>
                <span asp-validation-for="IdDestination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureTime" class="control-label"></label>
                <input asp-for="DepartureTime" class="form-control" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalTime" class="control-label"></label>
                <input asp-for="ArrivalTime" class="form-control" />
                <span asp-validation-for="ArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAircraft" class="control-label"></label>
                <select asp-for="IdAircraft" class="form-control" asp-items="ViewBag.IdAircraft"></select>
                <span asp-validation-for="IdAircraft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdClass" class="control-label"></label>
                <select asp-for="IdClass" class="form-control" asp-items="ViewBag.IdClass"></select>
                <span asp-validation-for="IdClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Periocity" class="control-label"></label>
                <input asp-for="Periocity" class="form-control" />
                <span asp-validation-for="Periocity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
