html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bttbackend{

    margin: 7px;
}
.custom-container {
    max-width: 1400px; /* Define a largura máxima do container como 1400px */
    margin: 0 auto; /* Centraliza o container */
}

.beaverBrown {
    background-color: rgb(130, 89, 46);
    color: white;
}
    .beaverBrown:hover {
        background-color: rgb(66, 45, 23);
        color: white;
    }
.adminBar{
    text-align:left;
}
